.sl-dashboard__title{
    margin-top: 70px;
    text-align: center;
}
.dashboard-btn{
  position: relative;
  border-radius: 0 !important;
}

.dashboard-btn svg{
    height: 36px;
    width: 111px;
    left: 1;
    position: absolute;
    top: -1;
}

.svg-rect{
 fill:none;
 width: 100%;
 height:100%;
 stroke: #ffffff;
 stroke-width: 2;
 stroke-dasharray: 400, 0;
 transition: all 0.35s linear;
}
.dashboard-btn:hover{
  /*btn is-info in bulma will set the following colors as default, to make it clear we commit those colors*/
  background-color: transparent !important;
  border-color: transparent !important;
  font-weight: 600;
}
.dashboard-btn:hover .svg-rect{
  left: 1;
  top: -1;
  stroke-width: 3;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 30;
  transition: all 1.35s cubic-bezier(0, 0, 0.5, 1); 
} 

/*
.projects .btn-project {
  color: #f8f9fa;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  transition: all 0.35s linear;
  line-height: 40px;
  border-radius: 0px;
  margin: 10px 0 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  display: block; }
  .projects .btn-project svg {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .projects .btn-project rect {
    fill: none;
    stroke: #11aba2;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear; }
  .projects .btn-project:hover {
    text-decoration: none;
    background: rgba(17, 171, 162, 0);
    font-weight: 600;
    letter-spacing: 1px; }
    .projects .btn-project:hover rect {
      stroke-width: 5;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }
*/