.sl-record__title{
    margin-top: 60px;
    text-align: center;
}

.newRecord_button{
    margin-bottom: 20px;
}

.sl-TPG__left{
    margin-left: 5px;
}

.sl-NZ__left{
    margin-left: 11px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.to-left{
    float: left;
}
.to-right{
    float:right;
}

  @media all and (max-width:960px){

 .table-scrollable{
     overflow:auto;
     overflow-y: hidden;
     max-width: 100%;
 }
}
@media all and (max-width: 375px){
.button{
    font-size: 0.8rem;
}
.input{
    font-size: 0.8rem;
}
}