.navbar__container{
    border-bottom: 1px solid;
}

.navbar__logo{
    font-weight: bold;
    font-size: 2.0rem;
    margin-left: 80px;   
}
@media all and (max-width: 960px) {
    .navbar__container{
        display: none;
    }
}