@import "../variable.scss";

.sidenav{
    display:block;
    background-color: #2a3842;
    width:80px;
    height:100%;
    font-size:16px;
    font-weight:normal;
    text-align: center;
    position:fixed;
    padding-top: 20px;
}

.sidenav__menu{
    margin:0;
    padding:0;
    list-style:none;

}
.sidenav__menu-list{
    padding:0.25rem 0;
    margin-top: 15px;
}

.sidenav__menu-list--white{
    color:$white;
}
.sidenav__menu-list--white:hover{
    color:#0080cc;
}